@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

.mobile-nav-fluid {
	display: none;
}

.top-fluid {
	background: #040c22;
	padding: 15px 0px;
}

.top ul {
	float: right;
}

.top ul li {
	display: inline-block;
	line-height: 30px;
	color: #727a93;
	padding-right: 30px;
}

.top ul li i.iconfont {
	font-size: 14px;
	margin-right: 8px;
}

.header-fluid {
	background: #fff;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.logo-img2 {
	display: none;
}

.header {
	position: relative;
}

.header .logo {
	float: left;
}

.header .logo img {
	height: 100px;
	padding: 5px 0px;
}

.header .nav-fluid {
	float: right;
}

.nav>li {
	display: inline-block;
	padding: 0px 15px;
	position: relative;
}

.nav>li>a {
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	color: #727a93;
	display: block;
	font-size: 14px;
	padding: 40px 0px;
	position: relative;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out 0s;
}

.header-flex .nav>li>a {
	color: #eee;
}

.header-flex .logo-img1 {
	display: none;
}

.header-flex .logo-img2 {
	display: block;
}

.nav>li ul {
	position: absolute;
	left: -9999px;
	z-index: 99999 !important;
	text-align: left;
	border: 1px solid #e5e5e5;
	border-bottom: none;
	background-color: #fff;
}

.nav>li.active>a::before {
	bottom: 0px;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	width: 100%;
	background: #FFC107;
}

.nav>li:hover ul {
	left: auto;
	-webkit-animation: fadeinUp .3s;
	-moz-animation: fadeinUp .3s;
	-ms-animation: fadeinUp .3s;
	-o-animation: fadeinUp .3s;
	animation: fadeinUp .3s;
}

.nav>li ul li {
	position: relative;
}

.nav>li ul li a {
	padding: 20px 20px;
	width: 220px;
	border-bottom: 1px solid #e5e5e5;
	text-decoration: none;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	display: block;
	background-color: #fff;
	color: #222222 !important;
}


/*banner*/

.banner-fluid {
	position: relative;
	padding-top: 100px;
}

.header-fluid {
	position: absolute;
	top: 60px;
	left: 0px;
	z-index: 2000;
	width: 100%;
}

.top-fluid {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 2000;
}

.header-flex {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2000;
	width: 100%;
	background: #222538;
}

.banner {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.slider-content .text-content-wrapper {
	display: table;
	width: 100%;
}

.text-content {
	color: #fff;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.slider-content .text-content {
	display: table-cell;
	vertical-align: middle;
}

.banner img {
	width: 100%;
	display: block;
}

.banner .owl-theme .owl-controls .owl-buttons div {
	position: absolute;
	top: 50%;
	width: 60px;
	height: 60px;
	margin-top: -20px;
	border-radius: 0px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	overflow: hidden;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
}

.banner .owl-theme .owl-controls .owl-buttons .owl-prev {
	background-image: url(../images/angle-left.png);
	background-repeat: no-repeat;
	left: 0px;
	background-position: 21px 24px;
}

.banner .owl-theme .owl-controls .owl-buttons .owl-next {
	background-image: url(../images/angle-right.png);
	background-repeat: no-repeat;
	background-position: 21px 24px;
	right: 0px;
}

.banner .owl-theme .owl-controls .owl-buttons .owl-next:hover,
.banner .owl-theme .owl-controls .owl-buttons .owl-prev:hover {
	background-color: rgba(255, 193, 7, 0.7);
}

.banner .owl-theme .owl-controls {
	margin-top: 0px;
}

.banner .owl-theme .owl-controls .owl-pagination {
	position: absolute;
	bottom: 10px;
	left: 0px;
	width: 100%;
	text-align: center;
}

.banner .owl-theme .owl-controls .owl-page span {
	background: #262024;
	opacity: 1;
	border: 1px solid #fff;
}

.banner .owl-theme .owl-controls .owl-page.active span {
	background: #262024;
	width: 10px;
}

.banner .item {
	position: relative;
}

.js-slider-item {
	height: 100vh;
	padding: 150px 0px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 290px;
}

.js-slider-content {
	width: 66.666667%;
	margin: 0px auto;
	padding: 0px 15px;
}

.js-slider-content h2 {
	font-size: 50px;
	letter-spacing: 1px;
	color: #fff;
	line-height: 1.5em;
	text-align: center;
	margin-bottom: 5px;
	text-shadow: 0px 0px 10px #252121
}

.js-slider-content p {
	margin-bottom: 50px;
	margin-top: 20px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
}

.ban-more {
	text-align: center;
}

.ban-more a {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	border-radius: 2px;
	font-size: 16px;
	padding: 12px 30px;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	margin-right: 10px;
	cursor: pointer;
	text-transform: capitalize;
}

.ban-more a.ban-more1 {
	color: #fff;
	background-color: #FFC107;
}

.ban-more a.ban-more2 {
	background: #fff;
	color: #FFC107;
}

.ban-more a:hover {
	background: #e0aa06;
	color: #fff;
	box-shadow: 0 2px 5px 1px rgba(255, 193, 7, 0.5);
}


/*关于我们*/

.about-fluid {
	padding: 100px 0px;
}

.about-img {
	float: left;
	width: 420px;
}

.about-img img {
	width: 100%;
}

.about-info {
	float: right;
	width: calc(100% - 420px);
	padding-left: 80px;
}

.about-info h2 {
	font-size: 30px;
	margin-bottom: 5px;
	/*color: #333;*/
	font-weight: 300;
}

.about-info h2 span {
	color: #051441;
	font-weight: bold;
}

.about-info .text {
	margin-top: 30px;
	margin-bottom: 60px;
	line-height: 28px;
	font-size: 16px;
	letter-spacing: 1px;
}

.about-info ul {
	margin-bottom: 60px;
}

.about-info ul li {
	float: left;
	padding-right: 70px;
	text-transform: capitalize;
}

.about-info ul li span {
	border-radius: 50%;
	box-shadow: 0 0 10px 1px #cccccc;
	color: #ffc107;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin-right: 20px;
	text-align: center;
	width: 50px;
}

.about-info ul li i.iconfont {
	font-size: 24px;
}

.about-more {
	width: 150px;
	height: 50px;
	border: 1px solid #ffc107;
	display: block;
	text-align: center;
	line-height: 48px;
	color: #ffc107;
	font-size: 18px;
	text-transform: uppercase;
	webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

.about-more:hover {
	background: #ffc107;
	color: #fff;
	box-shadow: 0px 0px 10px 1px rgba(255, 193, 7, 0.7);
}


/*产品中心*/

.product-fluid {
	background: #fafbfc;
	padding: 100px 0px;
}

.product-title {
	text-align: center;
}

.product-title h2 {
	margin: 0 0 5px;
	font-size: 40px;
	font-weight: 700;
	color: #222538;
	text-transform: capitalize;
}

.product-title p {
	line-height: 28px;
	text-align: center;
	font-size: 16px;
	color: #7d91aa;
	font-weight: 300;
	margin-bottom: 30px;
}

.product-item {
	float: left;
	width: calc(100%/3 - 10px);
	margin: 20px 0px;
	padding: 0px 15px;
}

.product-img {
	overflow: hidden;
	position: relative;
}

.product-img .img img {
	width: 100%;
	display: block;
	border: 0px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	filter: scale(1);
	filter: transform;
	transition: all 0.5s ease 0s;
	-webkit-transform: all 0.5s ease 0s;
}

.product-item:hover .product-img .img img {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	filter: scale(1.15);
	filter: transform;
	transition: all 0.5s ease 0s;
	-webkit-transform: all 0.5s ease 0s;
}

.product-info {
	width: 100%;
	padding-top: 10px;
	color: #6d7784;
	padding-bottom: 10px;
	height: 128px;
}

.product-info .name {
	font-weight: 400;
	margin: 0;
	font-size: 24px;
	color: #222538;
	max-height: 68px;
	overflow: hidden;
}

.product-item:hover .product-info .name {
	color: #ffc107;
}

.product-info .des {
	line-height: 20px;
	color: #6D7784;
	text-transform: capitalize;
	font-size: 12px;
	letter-spacing: 0px;
	height: 40px;
	overflow: hidden;
	width: 100%;
}

.product-item .product-img .overlay-box {
	background-color: #FF89FF;
	position: absolute;
	left: 0;
	top: 0;
	height: 0%;
	width: 100%;
	background: #ff8a00 padding-box content-box;
	content: "";
	padding: 15px;
	opacity: 0;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.product-item:hover .product-img .overlay-box {
	height: 100%;
	opacity: 0.70;
}

.product-item .product-img .overlay-box>div {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 40px;
	width: 40px;
	margin-left: -20px;
	margin-top: -20px;
	text-align: center;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.product-item .product-img .overlay-box>div i {
	font-weight: 400;
	font-size: 30px;
	line-height: 40px;
	color: #fff;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.product-item:hover .product-img .overlay-box>div {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
	-webkit-transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	-ms-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	transition-delay: 300ms;
}


/*新闻列表*/

.news-fluid {
	padding: 100px 0px;
}

.news-item {
	float: left;
	width: calc(50% - 10px);
	margin-right: 20px;
	margin-bottom: 20px;
}

.news-item a {
	display: block;
	width: 100%;
	background: #f6f6f6;
	border: 2px solid #fff;
}

.news-item:nth-of-type(2n) {
	margin-right: 0px;
}

.news-item a:hover {
	background: #ebebeb;
	/*border-color: #ffc107;*/
	box-shadow: 0px 0px 3px #ddd;
}

.news-time {
	float: left;
	width: 20%;
	height: 125px;
	border-right: 2px solid #fff;
	text-align: center;
	padding: 34px 0px;
}

.news-item a:hover .news-time {
	/*border-color: #ffc107;*/
}

.news-time span {
	display: block;
	width: 100%;
	font-weight: 300;
}

.news-time span.md {
	font-size: 28px;
	color: #262626;
	line-height: 35px;
}

.news-time span.year {
	font-size: 18px;
	color: #b0b0b0;
	line-height: 22px;
}

.news-info {
	float: left;
	width: 80%;
	padding: 17px 15px;
}

.news-info .title {
	font-size: 18px;
	color: #33363f;
	line-height: 25px;
	height: 50px;
	overflow: hidden;
	font-weight: 300;
}

.news-info .des {
	font-size: 13px;
	color: #808080;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
	font-weight: 300;
}

.footer-fluid {
	background: #212121;
	line-height: 24px;
	padding: 55px 5px 40px;
}

.footer-logo {
	float: left;
}

.footer-logo-img {
	width: 300px;
	display: block;
}

.footer-logo-img img {
	width: 100%;
}

.footer-logo-word {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #ddd;
	color: #F3C500;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}

.footer-right {
	float: right;
	width: calc(100% - 300px);
	padding-left: 50px;
	position: relative;
	padding-right: 150PX;
}

.footer-nav {
	color: #a9a9a9;
	font-size: 16px;
	line-height: 35px;
}

.footer-nav a {
	color: #a9a9a9;
}

.footer-info {
	color: #a9a9a9;
	margin-top: 10px;
}

.footer-info .tit {
	font-size: 18px;
	font-weight: bold;
	color: #F3C500;
	margin-bottom: 5px;
}

.footer-info p {
	line-height: 25px;
}

.footer-info a {
	color: #a9a9a9;
}

.footer-ewm {
	position: absolute;
	top: 50px;
	right: 0px;
	width: 120px;
}

.footer-ewm img {
	width: 120px;
}

.footer-ewm p {
	color: #FFFFFF;
	text-align: center;
	line-height: 40px;
}


/*分隔*/

.fg-fluid {
	background: #212121;
}

.fg ul li {
	float: left;
	position: relative;
	width: calc(100%/4);
	text-align: center;
	padding: 40px 20px;
}

.fg ul li:before {
	content: "";
	height: 100%;
	width: 1px;
	background: #525151;
	position: absolute;
	top: 0px;
	left: 0px;
}

.fg ul li:last-child:after {
	content: "";
	height: 100%;
	width: 1px;
	background: #525151;
	position: absolute;
	top: 0px;
	right: 0px;
}

.fg ul li .fg-img {
	width: 100%;
}

.fg ul li .fg-img img {
	width: 100px;
	margin: 0px auto 20px;
}

.fg-title {
	color: #F3C500;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
	height: 40px;
}

.fg-info {
	color: #ddd;
	font-size: 12px;
	line-height: 18px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
	height: 72px;
}

.fg2-fluid {
	background: #1f2131;
	padding: 40px 20px;
	text-align: center;
}

.fg2 {
	text-align: center;
}

.fg2 h2 {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
}

.fg2 p {}

.fg2 h3 {
	color: #F3C500;
	padding: 10px 0px;
	font-weight: bold;
	font-size: 30px;
}

.fg2 p {
	font-size: 14px;
	line-height: 20px;
}

.fg2 a {
	width: 200px;
	line-height: 45px;
	background: #F3C500;
	color: #333;
	display: block;
	border-radius: 5px;
	text-align: center;
	margin: 0px auto;
	font-size: 20px;
	letter-spacing: 2px;
	border: 1px solid #F3C500;
}

.fg2 a:hover {
	background: #1f2131;
	color: #F3C500;
}


/*联系我们*/

.contact-fluid {
	background: url(../images/contacts-bg.jpg) no-repeat scroll center 0;
	background-size: cover;
	padding-top: 198px;
	padding-bottom: 120px;
	z-index: 1;
	position: relative;
}

.contact-fluid:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	display: block;
	top: 0;
	left: 0;
	opacity: 0.80;
	background: #101010;
}

.contact-title {
	font-size: 60px;
	font-weight: 400;
	padding-bottom: 28px;
	color: #fff;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.contact-title span {
	color: #F3C500;
	padding: 0px 5px;
}

.contact-top-info {
	font-weight: 400;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 1px;
	color: #fff;
}

.contact-middle {
	padding-top: 110px;
}

.contact-middle ul li {
	float: left;
	width: 25%;
	text-align: center;
	padding: 0px 20px;
}

.contact-middle ul li .cm-icon {
	background: url(../images/polygon-shape.png) no-repeat;
	background-position: center;
	text-align: center;
	display: block;
	font-size: 30px;
	background-size: cover;
	width: 74px;
	height: 85px;
	line-height: 85px;
	margin: 0px auto;
}

.cm-icon i.iconfont {
	font-size: 30px;
	color: #FFC107;
}

.contact-middle ul li .cm-des {
	font: 400 16px/24px sans-serif;
	padding-top: 26px;
	color: #fff;
}

.contact-middle ul li:hover .cm-des {
	color: #FFC107;
}

.cm-adder {
	color: #fff;
	line-height: 35px;
	border: 1px solid #ddd;
	padding: 20px;
	margin-top: 60px;
}

.cm-adder span {
	padding-right: 10px;
	text-transform: uppercase;
}

.contact-form {
	margin-top: 100px;
}

.contact-form dl dd {
	float: left;
	width: calc(100%/3 - 20px);
	margin-right: 30px;
	margin-bottom: 15px;
}

.contact-form dl dt {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.contact-form dl dd:nth-of-type(3) {
	margin-right: 0px;
}

.contact-form dl dd input[type=text] {
	width: 100%;
	border: 0px;
	padding: 5px;
	background: none;
	outline: none;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 40px;
	color: #fff;
	height: auto;
	box-shadow: none;
	text-shadow: none;
}

.contact-form dl dt textarea {
	width: 100%;
	background: none;
	outline: none;
	border-bottom: 1px solid #fff;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
	padding: 0px 0px 0px 10px;
	font-family: sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
	box-shadow: none;
	text-shadow: none;
	resize: none;
	height: 185px;
	padding-top: 19px;
}

.contact-form dl dd input[type=text]:focus,
.contact-form dl dt textarea:focus {
	box-shadow: 0px 0px 3px #F3C500;
	border-bottom: 0px;
}

.cf-btn {
	margin-top: 30px;
}

.cf-btn input[type=submit] {
	width: 100%;
	font-size: 16px;
	line-height: 74px;
	background: rgba(255, 255, 255, 0.071);
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 0px;
	border-radius: 0px;
	padding: 0px 81px;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.cf-btn input[type=submit]:hover {
	background: rgba(243, 197, 0, 0.5);
}


/*关于我们*/

.sub-banner-fluid {
	position: relative;
	/*background: url(../images/sub-banner1.jpg) no-repeat scroll center 0;*/
	/*background: url(../images/sub-banner1.jpg) no-repeat scroll center 0;*/
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	padding: 197px 0px 109px;
	background-attachment: fixed;
}

.sub-banner-fluid:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	display: block;
	top: 0;
	left: 0;
	opacity: 0.50;
	background: #101010;
}

.subBtitle .title {
	font-size: 60px;
	font-weight: 400;
	padding-bottom: 28px;
	color: #fff;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.subBtitle span {
	color: #F3C500;
	padding: 0px 5px;
}

.subBtitle .des {
	font-weight: 400;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 1px;
	color: #fff;
}

.location {
	line-height: 30px;
	color: #eee;
	padding: 10px 0px;
}

.location i.iconfont {
	font-size: 25px;
	line-height: 30px;
	float: left;
	padding-right: 10px;
}

.location a {
	color: #eee;
	text-transform: capitalize;
}

.location a:hover {
	color: #F3C500;
}

.sub-content-fluid {
	padding: 74px 0px 103px
}

.sub-about-img {
	float: left;
	width: 470px;
	padding-right: 60px;
	padding-bottom: 20px;
}

.sub-about-img img {
	width: 100%;
}

.sub-about p {
	line-height: 28px;
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	color: #555;
}


/*分页*/

.page {
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

.page>div {
	display: inline-block;
}

.page a,
.page span {
	float: left;
	display: block;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
	line-height: 35px;
	padding: 0px 8px;
	border: 1px solid #ddd;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	overflow: hidden;
	text-align: center;
	min-width: 35px;
}

.page span {
	background: #333;
	color: #fff;
	border: 1px solid #333;
	box-shadow: 0px 0px 3px #ddd;
}

.page a:hover {
	background: #333;
	color: #fff;
	border: 1px solid #333;
}

.sub-news-titleList {
	margin-bottom: 30px;
}

.sub-news-titleList ul li {
	float: left;
	margin-right: 15px;
	margin-bottom: 20px;
}

.sub-news-titleList ul li a {
	display: block;
	border: 1px solid #ddd;
	padding: 0px 10px;
	line-height: 35px;
	text-transform: capitalize;
}

.sub-news-titleList ul li a:hover,
.sub-news-titleList ul li.active a {
	background: #F3C500;
	color: #fff;
	border: 1px solid #F3C500;
	box-shadow: 0px 0px 3px #F3C500;
}


/*新闻中心*/

.sub-news-content {
	padding: 30px 0px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.sub-news-title {
	text-align: center;
	margin-bottom: 20px;
}

.sub-news-title h1 {
	line-height: 40px;
	font-size: 24px;
	color: #051441;
	margin-bottom: 5px;
}

.sub-news-title p {
	font-size: 14px;
	text-align: center;
	line-height: 25px;
	margin-bottom: 10px;
}

.sub-news-title p span {
	position: relative;
	display: inline-block;
	padding: 0px 10px;
	padding-left: 30px;
}

.sub-news-title p i.iconfont {
	font-size: 20px;
	margin-right: 8px;
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0.7;
}

.sub-news-info {
	/*color: #555;*/
	font-size: 17px;
	font-weight: 300;
	line-height: 30px;
	color: #3c445d;
	letter-spacing: 1px;
}

.sub-news-info p {
	margin-bottom: 10px;
}

.sub-news-info img {
	display: inline-block;
	max-width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sub-link {
	padding: 20px 0px;
	line-height: 25px;
}

.sub-link p {
	font-size: 16px;
	margin-bottom: 10px;
	color: #333;
}

.sub-link p span {
	text-transform: capitalize;
	padding-right: 5px;
	letter-spacing: 2px;
}

.sub-link p a:hover {
	color: #2196f3;
	text-decoration: underline;
}


/*底部导航*/

.bottom-fluid {
	background: #222538;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 6px 0px;
	display: none;
	z-index: 999;
}

.bottom-fluid ul li {
	float: left;
	width: 25%;
	text-align: center;
}

.bottom-fluid ul li a {
	color: #fff;
}

.bottom-fluid ul li i.iconfont {
	font-size: 25px;
}

.bottom-fluid ul li p {
	font-size: 12px;
	text-transform: uppercase;
}

.bottoming-form {
	position: fixed;
	bottom: 64px;
	left: 0px;
	width: 100%;
	display: none;
}

.bottoming-form .bottoming-form-title h2 {
	text-align: center;
	color: #fff;
	letter-spacing: 4px;
	margin-bottom: 20px;
	font-weight: normal;
}

.bottoming-form dl {
	margin-bottom: 10px;
}

.bottoming-form dl dt {
	float: left;
	line-height: 30px;
}

.bottoming-form dl input[type=text] {
	float: right;
	width: calc(100% - 75px);
	height: 30px;
	border: 1px solid #ddd;
	padding: 0px 5px;
}

.bottoming-form dl input[type=text]:focus {
	border: 1px solid #e97609;
}

.bottom-btn {
	padding-left: 75px;
}

.bottom-btn input[type=submit] {
	width: 100%;
	color: #fff;
	border: 0px;
	line-height: 35px;
	background: #e97609;
	font-size: 16px;
	border: 1px solid #e97609;
}

.bottoming-formBox {
	position: relative;
	background: #262024;
	padding: 15px 25px;
	width: 100%;
	color: #fff;
	padding-top: 25px;
}

.bottoming-close {
	position: absolute;
	top: 0px;
	right: 7px;
}

.bottom-fluid .gotop {
	display: block!important;
}

#gotop {
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	bottom: 100px;
	right: 20px;
	z-index: 999;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}

#gotop i.iconfont {
	font-size: 30px;
	color: #fff;
	line-height: 50px;
}

#gotop:hover {
	background: rgba(0, 0, 0, 0.8);
}